.booking-form-section {
  position: relative;
  top: 93px;
  background: rgb(248 248 248 / 60%);
  max-width: 900px;
  width: 900px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  border: 2px solid #1f2937;
  text-align: left;
}

.custom-select  {
  padding: 6.8px 20px;
  width: calc( 75% / 3);
  font-size: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: #656565;
  background-color: white;
}

.booking-form-section button {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}
.booking-form-section button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Responive design */

@media (max-width: 991px) {
  section.hero-section {
    margin-bottom: 100px;
    padding-top: 50px;
  }
  .booking-form-section {
    max-width: 100%;
  }
  .booking-form-section input {
    width: 100%;
    margin-bottom: 10px;
  }
  .booking-form-section .booking-form-title {
    text-align: center;
  }
  .booking-form-section button {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
