@import "tailwindcss";

:root {
  --primary-color: #1f2937;
  --secondary-color: #fb2c36;
  --third-color: #e8dbb1c8;
  --text-color: #333;
  --second-text-color: #bbb;
  --overlay-color: rgba(0, 0, 0, 0.566);
}
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #e9e5dd;
}
